<!DOCTYPE html>
<html>
 <head>

   <link rel="stylesheet" href="style.css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>eBooks</title>

 </head>
 <body>
   <div class="grid-container">
     <header class="row">
       <div>
         <a class="brand" href="index.html">eBo.Oks</a>
       </div>
       <div>
         <a href="cart.html">Cart</a>
         <a href="signin.html">Sign In</a>
       </div>
     </header>
     <main>
       <div class="row center">
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-1.jpg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>IT Stephen King</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star-half-o"></i></span>
             </div>
             <div class="pret">
               80$
             </div>
           </div>
         </div>
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-8.jpg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>Pet Sematary Stephen King</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
             </div>
             <div class="pret">
               80$
             </div>
           </div>
         </div>
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-7.jpg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>Ice & Fire George R.R. Martin</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star-half-o"></i></span>
             </div>
             <div class="pret">
               80$
             </div>
           </div>
         </div>
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-9.jpg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>To Kill A Mockingbird Harper Lee</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star-half-o"></i></span>
             </div>
             <div class="pret">
               80$
             </div>
           </div>
         </div>
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-10.jpeg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>1984 George Orwell</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star-half-o"></i></span>
             </div>
             <div class="pret">
               80$
             </div>
           </div>
         </div>
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-11.jpg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>Animal Farm George Orwell</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star-half-o"></i></span>
             </div>
             <div class="pret">
               80$
             </div>
           </div>
         </div>
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-2.jpg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>Laptop DELL</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
             </div>
             <div class="pret">
               299.90$
             </div>
           </div>
         </div>
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-3.jpg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>Bicicleta Pegas Albastra</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star-half-o"></i></span>
               <span><i class="fa fa-star-o"></i></span>
             </div>
             <div class="pret">
               110$
             </div>
           </div>
         </div>
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-4.jpg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>Smartphone A909</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
             </div>
             <div class="pret">
               269.99$
             </div>
           </div>
         </div>
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-5.jpg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>Volvo XC90</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star-half-o"></i></span>
             </div>
             <div class="pret">
               35.000$
             </div>
           </div>
         </div>
         <div class="card">
           <a href="produs.html">
             <img class="medium" src="./images/produs-6.jpg" alt="produs">
           </a>
           <div class="card-body">
             <a href="produs.html">
               <h2>Joc video GTA VI</h2>
             </a>
             <div class="rating">
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star"></i></span>
               <span><i class="fa fa-star-o"></i></span>
             </div>
             <div class="pret">
               149.99$
             </div>
           </div>
         </div>
       </div>
     </main>
     <footer class="row center">
       All rights reserved.
     </footer>
   </div>

 </body>
</html>
